body {
  background: #161616;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

canvas {
	z-index: -3;
	position: absolute;
}

#sidebar_left {
  background: #222;
  width: 350px;
  margin: auto 0;
  height: calc(100% - 22px);
  overflow-y: scroll;
}

#sidebar_left_button {
  background: #333;
  width: 10px;
  margin: auto 0;
  height: 50px;
  border-radius: 0 10px 10px 0;
}

#sidebar_left div img {
  width: 80px;
  height: 80px;
  margin: 5px;
}

#sidebar_left h1 {
  color: #e1e1e1;
  font-weight: lighter;
  font-family: sans-serif;
  margin: 5px;
  padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #262626;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
}

#menu-levels {
  display: grid;
  display: none !Important;
  width: 600px;
  height: 400px;
  outline: solid 1px black;
  /* grid-gap: 10px 10px; */
}
#menu-levels ul {
  margin: 0 10px 10px 10px;
  /*margin: 0;*/
  outline: solid 1px black;
  grid-column: 1 / span 1;
  grid-row: 2 / span 3;
  border: none;
  overflow-y: scroll;
  line-height: 15pt;
  font-family: "Helvetica Neue",sans-serif;
  list-style: none;
  padding: 0 0 10px 0;
}
#menu-levels ul li {
  margin: 0;
  padding: 3px 2px;
  background: #151515;
  color: #b5b5b5;
}
#menu-levels ul li:nth-child(2n) {
  background: #313131;
}
#menu-levels textarea {
  margin: 10px 10px 10px 0px;
  outline: solid 1px black;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  height: 150px;
  border: none;
  background: #333;
  color: #e1e1e1;
  font-family: sans-serif;
}
#menu-levels img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 10px 0 0 0;
  outline: solid 1px black;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}
#menu-levels #levels-btn-holder {
  margin: 0px 0px 10px 0px;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  width: 100%;
  justify-content: right;
}
#menu-levels h3 {
  margin: 10px 0px 0px 10px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  /*margin: 0;*/
}
